body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(170, 218, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 600;
  color: rgb(134, 134, 134);
  text-decoration: underline;
}

h3{
  font-size: 2.5rem;
}

input {
  padding: 0.3rem;
  min-width: 20rem;
  font-size: 20px;
  border: 0px none white;
  border-radius: 5px;
}

span {
  font-weight: 600;
  color: rgb(134, 134, 134);
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0 none white;
  border-radius: 5px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:fit-content;
  margin: 2rem auto;
}

.App {
  text-align: center;
  align-content: center;
  font-size: 1.5rem;
}

table, th, td {
  border: 3px solid rgb(146, 146, 146);
  border-radius: 5px;
  border-spacing: 0.5rem;
  margin: auto;
  padding: 0.8rem;
}

th {
  background-color: rgb(240 216 180);;
}

tr:nth-child(even) {background-color: #e2f0f0;}

.congrats {
  background-color: rgb(121, 216, 184);
  width: 30rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
}